In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [5]:
# Read the league revenue data
league_revenue_df = pd.read_csv('Revenue_Exploration.csv')
league_revenue_df.head()

,Unnamed: 0,3.0% CAGR,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,2.4% Growth,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,1% Growth,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Club,2019,2019 Rank,NaN,2021,2022,2023,2024,2024 Rank,NaN,2022,2023,2024,2024 Rank,NaN,2022,2023,2024,2024 Rank
1,Arizona Cardinals,"$12,273,835",26,NaN,"$12,273,835","$12,642,050","$13,021,312","$13,411,951",28,NaN,"$12,568,407","$12,870,049","$13,178,930",28,NaN,"$12,396,574","$12,520,539","$12,645,745",28
2,Atlanta Falcons,"$35,308,158",6,NaN,"$35,308,158","$36,367,403","$37,458,425","$38,582,178",8,NaN,"$36,155,554","$37,023,287","$37,911,846",8,NaN,"$35,661,240","$36,017,852","$36,378,030",8
3,Baltimore Ravens,"$20,332,058",18,NaN,"$20,332,058","$20,942,020","$21,570,280","$22,217,389",20,NaN,"$20,820,027","$21,319,708","$21,831,381",20,NaN,"$20,535,379","$20,740,732","$20,948,140",20
4,Buffalo Bills,"$9,973,091",28,NaN,"$9,973,091","$10,272,284","$10,580,452","$10,897,866",30,NaN,"$10,212,445","$10,457,544","$10,708,525",30,NaN,"$10,072,822","$10,173,550","$10,275,286",30